.main {
  &__content {
    .contact {
      background-color: #fff;
      padding-top: 42px;
      @media screen and (min-width: $xl) {
        padding-top: 64px;
      }
      &__form {
        padding: 8px;
        width: 100%;
        max-width: 706px;
        margin: 0 auto;
        &-message {
          font-size: 14px;
          line-height: 16px;
          color: #ff0000;
          text-align: center;
          display: none;
        }
        &-row {
          display: flex;
          flex-wrap: wrap;
          margin-left: -8px;
          margin-right: -8px;
          @media screen and (min-width: $xl) {
            flex-wrap: nowrap;
          }
          &-item {
            flex-grow: 1;
            width: 100%;
            padding: 8px 8px;
            @media screen and (min-width: $xl) {
              padding: 12px 8px;
            }
            ::placeholder {
              color: rgba($color: #444648, $alpha: 0.5);
            }

            :-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: rgba($color: #444648, $alpha: 0.5);
            }

            ::-ms-input-placeholder {
              /* Microsoft Edge */
              color: rgba($color: #444648, $alpha: 0.5);
            }

            &-input,
            &-text-area {
              width: 100%;
              border: 0;
              border-radius: 8px;
              background-color: #f9f9fa;
              padding-left: 16px;
              padding-right: 16px;
              box-sizing: border-box;
              color: $grey;
              font-size: 16px;
              font-weight: 600;
              &:focus {
                outline: none;
                box-shadow: none;
                border: 0;
              }
            }
            &-input {
              height: 55px;
            }
            &-text-area {
              padding-top: 16px;
              resize: none;
            }
            &-control {
              &:focus {
                border: 1px solid #377dff;
                box-shadow: 0px 3px 1px rgba(49, 105, 207, 0.1);
              }
              &.validating {
                &:invalid {
                  background-color: #ffeaea;
                  border: 1px solid #ff0000;
                  color: #ff0000;
                }
              }
            }
            &-submit {
              width: 220px;
              height: 50px;
              font-size: 16px;
              font-weight: bold;
              @media screen and (min-width: $xl) {
                width: 270px;
                height: 60px;
                font-size: 18px;
              }
            }
          }
        }
      }
      &__address {
        position: relative;
        @media screen and (min-width: $xl) {
          margin-top: 40px;
          margin-bottom: 80px;
        }
        &-info {
          background: #ffffff;
          box-shadow: 0px 20px 40px rgba(234, 234, 234, 0.5);
          border-radius: 5px;
          margin-bottom: 16px;
          padding: 16px;
          position: relative;
          &-item {
            display: flex;
            align-items: flex-start;
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
          &-text {
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $primary;
          }
          &-ic {
            margin-right: 8px;
            margin-top: 2px;
            @media screen and (min-width: $xl) {
              margin-right: 16px;
            }
          }
          &-indicator {
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-top: 16px solid #fff;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
          }
          @media screen and (min-width: $xl) {
            position: absolute;
            right: 80px;
            top: 32px;
            z-index: 2;
          }
        }
        &-map {
          margin-left: -15px;
          margin-right: -15px;
          position: relative;
          &-site {
            width: 100%;
          }
          &-marker {
            width: 89px;
            height: auto;
            position: absolute;
            top: 35%;
            right: 2%;
          }
          @media screen and (min-width: $xl) {
            margin: 0;
            &-marker {
              right: 140px;
              top: 200px;
            }
          }
        }
      }
    }
  }
}
