@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes upAndDown {
  0% {
    top: 1rem;
  }
  50% {
    top: 0rem;
  }
  100% {
    top: 1rem;
  }
}

/* Standard syntax */
@keyframes upAndDown {
  0% {
    top: 1rem;
  }
  50% {
    top: 0rem;
  }
  100% {
    top: 1rem;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.upAndDown {
  animation: upAndDown 2s linear 0s infinite alternate;
  -webkit-animation: upAndDown 2s linear 0s infinite alternate;
}
