$primary: #171717;
$primary-hover: #222222;
$primary-light: #FF9902;
$primary-dark: #12264E;
$secondary-light: #ffffff;
$grey: #323232;

$header-mobile-height: 60px;

$primary-text-size: 16px;
$primary-text-lh: 26px;

$banner-title-size: 58px;
$banner-title-lh: 64px;

$banner-desc-size: 34px;
$banner-desc-lh: 44px;

$banner-text-size: 20px;

$title-size: 42px;
$title-lh: 56px;


$primary-font: "Berlingske Serif", "Almarai", sans-serif !default;
$secondary-font: "Raleway", "Almarai", sans-serif !default;
$inter-font: "Inter", sans-serif;
$arab-font: "Almarai", sans-serif;

$line-color: #EDEDED;

$xl: 1200px; 


